*{

  margin:0;

  padding:0;

  box-sizing:border-box;

  scroll-behavior:smooth;

}
 
:root{

  --bg:#f8f5ef;

  --card:#111111;

  --gold:#d6b36a;

  --white:white;

  --muted:#9d9d9d;

}
 
body{

  background:var(--bg);

  color:var(--white);

  font-family:'Inter',sans-serif;

  overflow-x:hidden;

}
 
img{

  max-width:100%;

  display:block;

}
 
h1,h2,h3,h4{

  font-family:'Cormorant Garamond',serif;

}
.btn-primary  a{
  text-decoration: none;
;


}
 
section{

  padding:100px 8%;

}
 
.section-title{

  text-align:center;

  font-size:4rem;

  margin-bottom:20px;

}
 
.section-sub{

  text-align:center;

  color:var(--muted);

  max-width:700px;

  margin:auto auto 60px;

}
body.dark-mode{
  background:white;
  color:black;
}
 
body.rtl-mode{
  direction:rtl;
}
.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:22px 8%;
  z-index:1000;
  background:rgba(0,0,0,0.20);
  backdrop-filter:blur(10px);
  transition:0.35s ease;
  height: 100px;
}

 
.navbar.scrolled{
  background:rgba(17,17,17,0.92);
  box-shadow:0 10px 30px rgba(0,0,0,0.18);
}
 
.logo{
  padding-top: 30px;
  height: 80px;
  width: 70px;
  font-family:'Outfit', sans-serif;
  font-size:18px;
  font-weight:700;
  color:#ffffff;
  letter-spacing:1px;
  white-space:nowrap;
  
  
}
 
.logo span{
  color:var(--gold);
}
 
.nav-links{
  display:flex;
  gap:35px;
  align-items:center;
}
nav ul{
  list-style: none;
}
nav a{
  text-decoration: none;
}
 
.nav-links a{
  color:#ffffff;
  font-size:15px;
  transition:0.3s;
}
 
.nav-links a:hover{
  color:var(--primary);
}
 
.nav-actions{
  display:flex;
  align-items:center;
  gap:14px;
}
.dropdown-menu{
  position:absolute;
  top:70px;
  left:230px;
  width:190px;
 
  background:rgba(17,17,17,0.96);
  backdrop-filter:blur(12px);
 
  border-radius:16px;
  padding:10px 0;
 
  opacity:0;
  visibility:hidden;
  transform:translateY(10px);
 
  transition:0.35s ease;
  box-shadow:0 15px 35px rgba(0,0,0,0.2);
}
 
.dropdown-menu a{
  display:block;
  padding:13px 20px;
}
 
.dropdown-menu a:hover{
  background:rgba(255,255,255,0.08);
  padding-left:28px;
}
 
.dropdown:hover .dropdown-menu{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}
 .rtl-btn,
.theme-btn{
  border:none;
  background:rgba(255,255,255,0.12);
  color:#ffffff;
  cursor:pointer;
  backdrop-filter:blur(8px);
  transition:0.35s ease;
}
 
.rtl-btn{
  padding:12px 18px;
  border-radius:40px;
  font-weight:600;
}
 
.theme-btn{
  width:48px;
  height:48px;
  border-radius:50%;
  font-size:20px;
  display:flex;
  align-items:center;
  justify-content:center;
}
 
.rtl-btn:hover,
.theme-btn:hover{
  background:var(--primary);
  transform:translateY(-3px);
}
 
.theme-btn:hover{
  transform:translateY(-3px) rotate(10deg);
}
 
.nav-btn{
  padding:13px 28px;
  background-color: #d6b36a;
  border-radius: 30px;
  color: white;
}
 

 
.hero{

  height:100vh;

  background-image:url(images/background-image.png);

  background-position:center;

  background-size:cover;

  position:relative;

  display:flex;

  justify-content:center;

  align-items:center;

  text-align:center;

  overflow:hidden;

}
 
.overlay{

  position:absolute;

  width:100%;

  height:100%;

  background:rgba(0,0,0,0.6);

}
 
.hero-content{

  position:relative;

  z-index:2;

  max-width:900px;
  color: white;

}
 
.hero h1{

  font-size:6rem;

  margin-bottom:20px;

}
 
.hero p{

  color:#ddd;

  line-height:1.8;

  margin-bottom:30px;

}
 
.buttons{

  display:flex;

  justify-content:center;

  gap:20px;

  flex-wrap:wrap;

}
 
.btn{

  padding:15px 32px;

  border:none;

  border-radius:40px;

  cursor:pointer;

  font-weight:600;

}
 
.primary{

  background:var(--gold);

}
.primary a{

  text-decoration: none;
  color: white;

}
 
.secondary{

  background:transparent;

  border:1px solid white;

  color:white;

}
 

 
.grid{

  display:grid;

  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

  gap:30px;

}
 
.card{

  background:#111;

  border-radius:20px;

  overflow:hidden;

}
 
.card img{

  width:100%;

  height:320px;

  object-fit:cover;

}
 
.card-content{

  padding:25px;

}
 
.card h3{

  font-size:2rem;

  margin-bottom:10px;


}
 
.card p{

  color:var(--muted);

}
 

 
.about{

  display:grid;

  grid-template-columns:1fr 1fr;

  gap:60px;

  align-items:center;

}
 
.about img{

  border-radius:20px;

  height:650px;

  object-fit:cover;

}
 
.about-text h2{

  font-size:4rem;

  margin-bottom:20px;

}
 
.about-text p{

  color:var(--muted);

  line-height:1.8;

  margin-bottom:30px;

}
 
.stats{

  display:grid;

  grid-template-columns:repeat(2,1fr);

  gap:20px;

}
 
.stat{

  background:#111;

  padding:30px;

  border-radius:20px;

  text-align:center;

}
 
.stat h3{

  color:var(--gold);

  font-size:2rem;

}
 

 
.testimonial-wrap{

  display:grid;

  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

  gap:30px;

}
 
.testimonial{

  background:#111;

  padding:30px;

  border-radius:20px;
  color: white;

}
 
.stars{

  color:var(--gold);

  margin-bottom:15px;

}
 

 
.schedule{

  overflow-x:auto;

}
 
table{

  width:100%;

  border-collapse:collapse;

}
 
th,td{

  padding:20px;

  text-align:center;

}
 
th{

  background:#111;

  color:var(--gold);

}
 
tr{

  border-bottom:1px solid rgba(255,255,255,0.1);

}
 

 
.gallery{

  columns:3 250px;

  column-gap:18px;

}
 
.gallery img{

  margin-bottom:18px;

  border-radius:20px;

}
 

 
.cta{

  text-align:center;

}
 
.cta h2{

  font-size:5rem;

  margin-bottom:20px;

}
 
.cta p{

  color:var(--muted);

  margin-bottom:30px;

}
.sd span{
  color: #d6b36a;
}
 

 
.footer{

  width:100%;

  background:black;

  color:white;
 
  padding:60px 8%;
 
  display:grid;

  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

  gap:50px;

}
.footer-image img{
  width: 100px;
  height: 60px;
}
 
.links ul{

  list-style:none;

}
 
.links li{

  margin-bottom:10px;

}
 
.links a{

  text-decoration:none;

  color:white;

}

.footer-bottom{
  padding-left: 90px;
  padding-right: 100px;
  border-top:1px solid #222222;
  padding-top:25px;
  color:#777777;
  display: flex;
  justify-content: space-between;
}
 .footer-legal{
  display: flex;
  justify-content: center;
  gap: 20px;
 
 
}
.footer-legal li{
  list-style: none;
  color: black;
 
}
.footer-legal a{
  color: #777777;
  text-decoration: none;
  transition: 0.3s ease;
}
.footer-legal a:hover{
  color: var(--primary);
}
 

 
@media(max-width:900px){
 
  nav ul{

    display:none;

  }
 
  .hero h1{

    font-size:4rem;

  }
 
  .about{

    grid-template-columns:1fr;

  }
 
  .section-title{

    font-size:3rem;

  }
 
  .cta h2{

    font-size:3rem;

  }

}
 