

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#f3f4f6;
    transition:0.4s;
}



.dashboard-container{
    display:flex;
    min-height:100vh;
}



.sidebar{
    width:500px;
    background:#111827;
    padding:40px 25px;
    color:#fff;
    transition:0.4s;
}

.logo{
    margin-bottom:50px;
}
.logo a{
    text-decoration:none;
    font-size:34px;
    font-weight:700;
}

.gold{
    color:#d6b36a;
}

.white{
    color:#fff;
}



.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    margin-bottom:15px;
    border-radius:12px;
    overflow:hidden;
    transition:0.4s;
}

.sidebar ul li a,
.sidebar ul li{
    display:block;
    padding:16px 18px;
    color:#fff;
    text-decoration:none;
}

.sidebar ul li i{
    margin-right:10px;
}

.sidebar ul li:hover,
.sidebar ul li.active{
    background:#d6b36a;
    transform:translateX(8px);
}



.main-content{
    flex:1;
    padding:40px;
    transition:0.4s;
}



.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:40px;
    gap:20px;
}

.profile{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
    border:3px solid #d6b36a;
}

.search-box{
    flex:1;
}

.search-box input{
    width:100%;
    padding:14px 18px;
    border:none;
    border-radius:12px;
    outline:none;
    background:#fff;
    box-shadow:0 5px 15px rgba(0,0,0,0.08);
}

.top-buttons{
    display:flex;
    gap:15px;
}

.toggle-btn,
.bell{
    width:55px;
    height:55px;
    border:none;
    border-radius:12px;
    background:#fff;
    cursor:pointer;
    font-size:18px;
    color:#111827;
    transition:0.4s;
}

.toggle-btn:hover,
.bell:hover{
    background:#d6b36a;
    color:#fff;
    transform:translateY(-5px);
}



.hero{
    background:linear-gradient(135deg,#d6b36a);
    padding:60px;
    border-radius:30px;
    color:#fff;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:40px;
    align-items:center;
}

.hero-text h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero-text p{
    margin-bottom:30px;
    line-height:1.7;
}

.hero-text button{
    padding:16px 30px;
    border:none;
    border-radius:12px;
    background:#111827;
    color:#fff;
    cursor:pointer;
    font-size:16px;
    transition:0.4s;
}

.hero-text button:hover{
    transform:translateY(-5px);
}

.hero-image img{
    width:100%;
    border-radius:20px;
    height:320px;
    object-fit:cover;
}



.stats-grid{
    margin-top:40px;

    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
}

.stat-card{
    background:#fff;
    padding:35px;
    border-radius:25px;
    text-align:center;
    transition:0.4s;
}

.stat-card:hover{
    transform:translateY(-8px);
}

.stat-card h2{
    font-size:42px;
    color:#d6b36a;;
}

.stat-card h3{
    margin:15px 0;
}

.stat-card p{
    color:#666;
}



.analytics-section{
    margin-top:40px;

    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:25px;
}

.analytics-card{
    background:#fff;
    padding:35px;
    border-radius:25px;
    transition:0.4s;
}

.analytics-card:hover{
    transform:translateY(-8px);
}

.large-card img{
    margin-top:20px;
    border-radius:15px;
    height:300px;
    object-fit:cover;
}



.progress-box{
    width:100%;
    height:14px;
    background:#eee;
    border-radius:20px;
    overflow:hidden;
    margin:25px 0;
}

.progress-bar{
    width:89%;
    height:100%;
    background:#d6b36a;
}


.circle{
    width:140px;
    height:140px;
    border-radius:50%;
    border:12px solid #d6b36a;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:30px auto;

    font-size:32px;
    font-weight:700;
}



body.dark-mode{
    background:#0f172a;
    color:#fff;
}

body.dark-mode .main-content{
    background:#0f172a;
}

body.dark-mode .stat-card,
body.dark-mode .analytics-card,
body.dark-mode .search-box input,
body.dark-mode .toggle-btn,
body.dark-mode .bell{
    background:#1e293b;
    color:#fff;
}

body.dark-mode .hero{
    background:linear-gradient(135deg,#111827,#1e293b);
}

body.dark-mode .stat-card p,
body.dark-mode .analytics-card p{
    color:#cbd5e1;
}



body.rtl{
    direction:rtl;
}

body.rtl .sidebar ul li:hover,
body.rtl .sidebar ul li.active{
    transform:translateX(-8px);
}



@media(max-width:1000px){

    .analytics-section{
        grid-template-columns:1fr;
    }

}

@media(max-width:900px){

    .dashboard-container{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
    }

}

@media(max-width:768px){

    .topbar{
        flex-direction:column;
    }

    .hero{
        padding:40px 30px;
    }

    .hero-text h1{
        font-size:40px;
    }

}