
*{

  margin:0;

  padding:0;

  box-sizing:border-box;

  scroll-behavior:smooth;

}
 
:root{

  --bg:#070707;

  --card:#111111;

  --gold:#d6b36a;

  --white:#f8f5ef;

  --muted:#9d9d9d;

}
 
body{

  background:var(--bg);

  color:var(--white);

  font-family:'Inter',sans-serif;

  overflow-x:hidden;

}
 
img{

  max-width:100%;

  display:block;

}
 
h1,h2,h3,h4{

  font-family:'Cormorant Garamond',serif;

}
.btn-primary  a{
  text-decoration: none;
;


}
 
section{

  padding:100px 8%;

}
 
.section-title{

  text-align:center;

  font-size:4rem;

  margin-bottom:20px;

}
 
.section-sub{

  text-align:center;

  color:var(--muted);

  max-width:700px;

  margin:auto auto 60px;

}
body.dark-mode{
  background:#fffcfc;
  color:#000000;
}
 
body.rtl-mode{
  direction:rtl;
}
.navbar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:22px 8%;
  z-index:1000;
  background:black;
  backdrop-filter:blur(10px);
  transition:0.35s ease;
  height: 100px;
}

 
.navbar.scrolled{
  background:rgba(17,17,17,0.92);
  box-shadow:0 10px 30px rgba(0,0,0,0.18);
}
 
.logo{
  padding-top: 30px;
  height: 80px;
  width: 70px;
  font-family:'Outfit', sans-serif;
  font-size:18px;
  font-weight:700;
  color:#ffffff;
  letter-spacing:1px;
  white-space:nowrap;
  
  
}
 
.logo span{
  color:var(--gold);
}
 
.nav-links{
  display:flex;
  gap:35px;
  align-items:center;
}
nav ul{
  list-style: none;
}
nav a{
  text-decoration: none;
}
 
.nav-links a{
  color:#ffffff;
  font-size:15px;
  transition:0.3s;
}
 
.nav-links a:hover{
  color:var(--primary);
}
 
.nav-actions{
  display:flex;
  align-items:center;
  gap:14px;
}
.dropdown-menu{
  position:absolute;
  top:70px;
  left:230px;
  width:190px;
 
  background:rgba(17,17,17,0.96);
  backdrop-filter:blur(12px);
 
  border-radius:16px;
  padding:10px 0;
 
  opacity:0;
  visibility:hidden;
  transform:translateY(10px);
 
  transition:0.35s ease;
  box-shadow:0 15px 35px rgba(0,0,0,0.2);
}
 
.dropdown-menu a{
  display:block;
  padding:13px 20px;
}
 
.dropdown-menu a:hover{
  background:rgba(255,255,255,0.08);
  padding-left:28px;
}
 
.dropdown:hover .dropdown-menu{
  opacity:1;
  visibility:visible;
  transform:translateY(0);
}
 .rtl-btn,
.theme-btn{
  border:none;
  background:rgba(255,255,255,0.12);
  color:#ffffff;
  cursor:pointer;
  backdrop-filter:blur(8px);
  transition:0.35s ease;
}
 
.rtl-btn{
  padding:12px 18px;
  border-radius:40px;
  font-weight:600;
}
 
.theme-btn{
  width:48px;
  height:48px;
  border-radius:50%;
  font-size:20px;
  display:flex;
  align-items:center;
  justify-content:center;
}
 
.rtl-btn:hover,
.theme-btn:hover{
  background:var(--primary);
  transform:translateY(-3px);
}
 
.theme-btn:hover{
  transform:translateY(-3px) rotate(10deg);
}
 
.nav-btn{
  padding:13px 28px;
  background-color: #d6b36a;
  border-radius: 30px;
  color: white;
}
 


img{
  width:100%;
  display:block;
}

h1,h2,h3,h4{
  font-family:'Cormorant Garamond',serif;
}

:root{
  --gold:#d6b36a;
  --dark:#111;
  --light:#f8f8f8;
}


/* HERO SECTION */

.service-hero{
  height:90vh;
  background:
  linear-gradient(rgba(0,0,0,0.55),rgba(0,0,0,0.55)),
  url('https://images.unsplash.com/photo-1504609773096-104ff2c73ba4?q=80&w=1600&auto=format&fit=crop');

  background-size:cover;
  background-position:center;
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  position:relative;
  padding:20px;
}

.hero-content{
  position:relative;
  z-index:2;
  max-width:850px;
  color:white;
}

.hero-content span{
  color:var(--gold);
  letter-spacing:4px;
  font-size:14px;
  font-weight:600;
}

.hero-content h1{
  font-size:70px;
  margin:25px 0;
  line-height:1.1;
}

.hero-content p{
  font-size:18px;
  line-height:1.9;
  margin-bottom:35px;
  color:#eee;
}

.hero-btn{
  display:inline-block;
  padding:15px 38px;
  background:var(--gold);
  color:white;
  text-decoration:none;
  border-radius:50px;
  transition:0.3s;
}

.hero-btn:hover{
  transform:translateY(-5px);
}


/* SERVICE SECTION */

.service-section{
  padding:100px 10%;
  display:grid;
  background-color:white;
  grid-template-columns:1fr 1fr;
  gap:60px;
  align-items:center;
}

.reverse{
  background:#fafafa;
}

.service-image img{
  border-radius:20px;
  height:500px;
  object-fit:cover;
}


.service-images img{
  border-radius:20px;
  float: right;
  height:500px;
  object-fit:cover;
}
.service-content span{
  color:black;
  letter-spacing:3px;
  font-size:14px;
  font-weight:600;
}

.service-content h2{
  font-size:52px;
  margin:20px 0;
  line-height:1.2;
  color: black;
}

.service-content p{
  color:black;
  line-height:1.9;
  margin-bottom:25px;
}

.service-content ul{
  margin-bottom:30px;
}

.service-content ul li{
  margin-bottom:14px;
  color:black;
}

.service-info{
  display:flex;
  gap:50px;
  margin-bottom:35px;
}

.service-info h4{
  font-size:24px;
  margin-bottom:10px;
  color: black;
}

.service-btn{
  display:inline-block;
  padding:14px 34px;
  background:var(--gold);
  color:white;
  text-decoration:none;
  border-radius:50px;
  transition:0.3s;
}

.service-btn:hover{
  transform:translateY(-5px);
}


/* RESPONSIVE */

@media(max-width:950px){

  .service-section{
    grid-template-columns:1fr;
  }

  .hero-content h1{
    font-size:48px;
  }

  .service-content h2{
    font-size:38px;
  }

  .service-image img{
    height:auto;
  }

}

@media(max-width:600px){

  .hero-content h1{
    font-size:38px;
  }

  .hero-content p{
    font-size:16px;
  }

  .service-info{
    flex-direction:column;
    gap:20px;
  }

}


.footer{

  width:100%;

  background:black;

  color:white;
 
  padding:60px 8%;
 
  display:grid;

  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

  gap:50px;

}
.footer-image img{
  width: 100px;
  height: 60px;
}
 
.links ul{

  list-style:none;

}
 
.links li{

  margin-bottom:10px;

}
 
.links a{

  text-decoration:none;

  color:white;

}

.footer-bottom{
  padding-left: 90px;
  padding-right: 100px;
  border-top:1px solid #222222;
  padding-top:25px;
  color:#777777;
  display: flex;
  justify-content: space-between;
}
 .footer-legal{
  display: flex;
  justify-content: center;
  gap: 20px;
 
 
}
.footer-legal li{
  list-style: none;
  color: black;
 
}
.footer-legal a{
  color: #777777;
  text-decoration: none;
  transition: 0.3s ease;
}
.footer-legal a:hover{
  color: var(--primary);
}
 

 
@media(max-width:900px){
 
  nav ul{

    display:none;

  }
 
  .hero h1{

    font-size:4rem;

  }
 
  .about{

    grid-template-columns:1fr;

  }
 
  .section-title{

    font-size:3rem;

  }
 
  .cta h2{

    font-size:3rem;

  }

}
 