*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
 
body{
  font-family:'Poppins',sans-serif;
  background:#081120;
  overflow-x:hidden;
  transition:0.4s;
}
 

 
.signup-section{
  min-height:100vh;
 
  display:flex;
  justify-content:center;
  align-items:center;
 
  padding:20px;
 
  background:
  radial-gradient(circle at left,#f4b40022,transparent 30%),
  radial-gradient(circle at right,#00326255,transparent 30%),
  #081120;
 
  transition:0.4s;
}
 

 
.signup-box{
  width:100%;
  max-width:620px;
  
  background:rgba(20,25,35,0.92);
 
  border:1px solid rgba(255,255,255,0.08);
 
  border-radius:18px;
 
  padding:20px;
 
  backdrop-filter:blur(12px);
 
  box-shadow:0 8px 25px rgba(0,0,0,0.4);
 
  animation:fadeUp 1s ease;
 
  transition:0.4s;
}
 

 
.theme-wrapper{
  display:flex;
  justify-content:flex-end;
  gap:8px;
 
  margin-bottom:10px;
}
 
 
.theme-toggle{
  display:flex;
  align-items:center;
  gap:6px;
 
  padding:8px 12px;
 
  border:none;
  border-radius:10px;
 
  background:#d6b36a;
 
  color:#ffffff;
 
  font-size:12px;
  font-weight:600;
 
  cursor:pointer;
 
  transition:0.4s;
}
 
.theme-toggle:hover{
  transform:translateY(-2px);
  background:#d6b36a;
}
 

 
.rtl-toggle{
  padding:8px 12px;
 
  border:none;
  border-radius:10px;
 
  background:black;
 
  color:#ffffff;
 
  font-size:12px;
  font-weight:600;
 
  cursor:pointer;
 
  transition:0.4s;
}
 
.rtl-toggle:hover{
  background:black;
  transform:translateY(-2px);
}
 

 
.logo{
  text-align:center;
 text-decoration: none;
  font-size:28px;
  font-weight:700;
 
  margin-bottom:4px;
  color: white;
  cursor:pointer;
}
 
.logo span{
  color:#d6b36a;
}
 


 

 
.signup-box h1{
  text-align:center;
 
  font-size:24px;
 
  color:#ffffff;
 
  margin-bottom:4px;
}
 
.subtitle{
  text-align:center;
 
  color:#9ca3af;
 
  font-size:12px;
 
  margin-bottom:14px;
}
 

 
.double-input{
  display:grid;
 
  grid-template-columns:repeat(2,1fr);
 
  gap:10px;
}
 

 
.input-group{
  margin-bottom:10px;
}
 
.input-group label{
  display:block;
 
  color:#ffffff;
 
  font-size:12px;
  font-weight:600;
 
  margin-bottom:4px;
}
 
.input-group input{
  width:100%;
 
  padding:10px 12px;
 
  border-radius:10px;
 
  border:1px solid rgba(255,255,255,0.08);
 
  background:rgba(255,255,255,0.05);
 
  color:#ffffff;
 
  font-size:12px;
 
  transition:0.3s;
}
 
.input-group input::placeholder{
  color:#9ca3af;
}
 
.input-group input:focus{
  outline:none;
 
  border-color:#d6b36a;
}
 

 
.terms{
  display:flex;
  align-items:center;
 
  gap:6px;
 
  margin-bottom:14px;
 
  color:#ffffff;
 
  font-size:11px;
}
 
.terms a{
  color:#d6b36a;
 
  text-decoration:none;
}
 

 
.signup-btn{
  width:100%;
 
  padding:10px;
 
  border:none;
 
  border-radius:10px;
 
  background:#d6b36a;
 
  color:#ffffff;
 
  font-size:13px;
  font-weight:600;
 
  cursor:pointer;
 
  transition:0.3s;
}
 
.signup-btn:hover{
  background:#d6b36a;
}
 

 
.divider{
  display:flex;
  align-items:center;
 
  gap:8px;
 
  margin:14px 0;
 
  color:#9ca3af;
 
  font-size:10px;
}
 
.divider::before,
.divider::after{
  content:"";
 
  flex:1;
 
  height:1px;
 
  background:rgba(255,255,255,0.1);
}
 

.social-buttons{
  display:grid;
 
  grid-template-columns:repeat(2,1fr);
 
  gap:8px;
}
 
.social-btn{
  padding:10px;
 
  border-radius:10px;
 
  border:1px solid rgba(5, 5, 5, 0.08);
 
  background:rgba(8, 8, 8, 0.05);
 
  color:#ffffff;
 
  font-size:12px;
  font-weight:500;
 
  cursor:pointer;
 
  transition:0.3s;
}
 
.social-btn:hover{
  background:black;
}
 

 
.login-text{
  text-align:center;
 
  color:#9ca3af;
 
  margin-top:14px;
 
  font-size:11px;
}
 
.login-text a{
  color:#d6b36a;
 
  text-decoration:none;
 
  font-weight:600;
}
 

 
body.light-mode{
  background:#f1f5f9;
}
 
body.light-mode .signup-section{
  background:
  radial-gradient(circle at left,#05050533,transparent 30%),
  radial-gradient(circle at right,#00326222,transparent 30%),
  #f1f5f9;
}
 
body.light-mode .signup-box{
  background:#ffffff;
  border:1px solid #e2e8f0;
}
 
body.light-mode .logo{
  color:#d6b36a;
}
 
body.light-mode .signup-box h1,
body.light-mode .input-group label,
body.light-mode .terms{
  color:#0f172a;
}
 
body.light-mode .subtitle,
body.light-mode .divider,
body.light-mode .login-text{
  color:#64748b;
}
 
body.light-mode .input-group input{
  background:#f8fafc;
  color:black;
  border:1px solid #dbeafe;
}
 
body.light-mode .input-group input::placeholder{
  color:#94a3b8;
}
 
body.light-mode .social-btn{
  background:#f8fafc;
  color:black;
  border:1px solid #dbeafe;
}
 
body.light-mode .social-btn:hover{
  background:black;
  color:#ffffff;
}
 

 
body.rtl{
  direction:rtl;
}
 
body.rtl .theme-wrapper{
  justify-content:flex-start;
}
 
body.rtl .terms{
  flex-direction:row-reverse;
}
 

 
@keyframes fadeUp{
 
  from{
    opacity:0;
    transform:translateY(40px);
  }
 
  to{
    opacity:1;
    transform:translateY(0);
  }
 
}
 

 
@media(max-width:768px){
 
  .double-input{
    grid-template-columns:1fr;
  }
 
  .social-buttons{
    grid-template-columns:1fr;
  }
 
  .signup-box{
    padding:18px;
  }
 
}
 